header {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    border-style:outset;
}

div#center {
    text-align: center;
}

div#ladoalado {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    border-style:outset;
}

div#meio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}
header img{
    border-radius: 50%;
}

footer {
    text-align: center;
}

footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-style:solid;
      }

footer li:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.075);
}

* {
    font-family:'Segoe UI'
}